main {
    background-color: brown;
    position: relative;
}

#userAccountDisplay {
    width: 90%;
    height: 90%;
    border: solid 1.5px black;
    border-radius: 2.5%;
    background-color: aliceblue;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;
}

#accountInfo {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

#userPlaylistsDisplay {
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.playlistCard {
    width: 15%;
    height: 25%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profilePic {
    border-radius: 50%;
}

.confirmButtons {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 10% auto 10% 35%;
    margin-top: 5%;
}

#backButton {
    grid-column-start: 2;
}

#transferButton {
    grid-column-start: 4;
}
