#userAccountDisplay {
    width: 70vw;
    height: 70vh;
    border: solid 1.5px black;
    border-radius: 2.5%;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

#accountInfo {
    width: 100%;
    height: 17%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#userPlaylistsDisplay {
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.playlistCard {
    width: 15%;
    height: 25%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profilePic {
    border-radius: 50%;
    height: 90%;
    margin: 0vh 1vw;
}

.confirmButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 35% 10% auto 10% 35%;
    margin-top: 5%;
}

#backButton {
    grid-column-start: 2;
}

#transferButton {
    grid-column-start: 4;
}
