 
#platformGrid {
    position: relative;
    height: 22vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1vw;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25%;
    background-color: lightyellow;
  }
  
  .platformLogo {
    height: 60%;
    width: 60%;
  }
  
  @keyframes enlarge {
    0% {
      width: 20%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 80%;
    }
  }
  
  .logoContainer:hover {
    cursor: pointer;
  }
  
  .logoContainer:hover > .platformLogo {
    animation-name: enlarge;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    --webkit-animation-fill-mode: forwards; /* This line makes the animation stay in its final form as long as the mouse is hovering over the div */
  }