#platformCard {
  background-color: var(--secondary-bg-color);
  width: 45vw;
  height: 60vh;
  padding: 1vw;
  border-radius: 2%;
  margin-top: 15vh;
}

#platformGrid {
    height: 55%;
    margin: 15% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1vw;
    transition: 500ms;
  }
  :where(.logoContainer){
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
    background-color: lightyellow;
    transition: 500ms;
  }
  :where(.logoContainer:hover){
    cursor: pointer;
    background-color: crimson;
    border-radius: 0%;
  }

  #platformGrid:has(#spotifyButton:hover){
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }
  #platformGrid:has(#appleButton:hover){
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
  #platformGrid:has(#youtubeButton:hover){
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }


.platformLogo {
  height: 60%;
  width: 60%;
}