.confirmButtons {
    margin-top: 3vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainCard {
    position: relative;
    width: 60vw;
    max-height: 67vh;
    margin-top: 16.33%;
    margin-left: 25%;
    
    display: flex;
    flex-direction: column;
}