.confirmButtons {
    margin-top: 3vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainCard {
    position: absolute;
    top: 33vh;
    left: 25vw;
    width: 50vw;
    min-height: 40vh;
    max-height: 67vh;
    border-radius: 20px;
    background-color: var(--primary-bg-color);
    padding: 2%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmButton {
    margin: 4vh;
}
